/**
 * Architectural markers and interfaces for Domain-Centric Architecture.
 *
 * <p>This package consolidates all marker interfaces and annotations that define architectural
 * patterns:
 *
 * <ul>
 *   <li>{@code tactical/} - DDD tactical building blocks (Entity, Value, Aggregate, etc.)
 *   <li>{@code strategic/} - DDD strategic patterns (BoundedContext, SharedKernel, OpenHostService)
 *   <li>{@code port/} - Hexagonal architecture port interfaces (InputPort, OutputPort, Repository)
 * </ul>
 */
package {{sharedKernelPackage}};
