/**
 * {{Context}} bounded context.
 *
 * <p>{{contextDescription}}
 *
 * <p>Layout: {@code domain/}, {@code application/}, {@code adapter/{{incomingSubfolder}}/},
 * {@code adapter/{{outgoingSubfolder}}/}.
 */
@BoundedContext("{{context}}")
package {{basePackage}}.{{context}};

import {{boundedContextAnnotationFqn}};
